<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>ok</string>
	<key>map</key>
	<dict>
		<key>cartList</key>
		<array>
			<dict>
				<key>content</key>
				<array>
					<dict>
						<key>bargainMark</key>
						<string>0</string>
						<key>count</key>
						<integer>1</integer>
						<key>declineMark</key>
						<string>0</string>
						<key>goodsMark</key>
						<string>0</string>
						<key>goods_id</key>
						<integer>98487</integer>
						<key>goods_name</key>
						<string>都市丽人</string>
						<key>goods_status</key>
						<integer>0</integer>
						<key>id</key>
						<integer>230938</integer>
						<key>pathName</key>
						<string>upload/store/1/2017/06/29/f11d9dc5-4ad1-481c-9fe7-0c1a70e3c5f7.jpg</string>
						<key>price</key>
						<real>199</real>
						<key>spec_info</key>
						<string>尺码:特体</string>
						<key>store_id</key>
						<integer>1</integer>
						<key>store_name</key>
						<string>平台自营店</string>
						<key>store_price</key>
						<string>199.00</string>
					</dict>
					<dict>
						<key>bargainMark</key>
						<string>8.0折优享</string>
						<key>count</key>
						<integer>2</integer>
						<key>declineMark</key>
						<string>1</string>
						<key>goodsMark</key>
						<string>0</string>
						<key>goods_id</key>
						<integer>98412</integer>
						<key>goods_name</key>
						<string>2016???? ????????????????A???</string>
						<key>goods_status</key>
						<integer>0</integer>
						<key>id</key>
						<integer>231018</integer>
						<key>pathName</key>
						<string>upload/store/1/2016/04/04/c51ca320-b9d9-4bed-b64a-f4768557f57c.jpg</string>
						<key>price</key>
						<string>712.00</string>
						<key>spec_info</key>
						<string>尺码:XL 颜色:白色</string>
						<key>store_id</key>
						<integer>1</integer>
						<key>store_name</key>
						<string>平台自营店</string>
						<key>store_price</key>
						<string>712.00</string>
					</dict>
					<dict>
						<key>bargainMark</key>
						<string>0</string>
						<key>count</key>
						<integer>1</integer>
						<key>declineMark</key>
						<string>0</string>
						<key>goodsMark</key>
						<string>0</string>
						<key>goods_id</key>
						<integer>98486</integer>
						<key>goods_name</key>
						<string>时尚男装</string>
						<key>goods_status</key>
						<integer>0</integer>
						<key>id</key>
						<integer>231019</integer>
						<key>pathName</key>
						<string>upload/store/1/2017/06/29/4a32485b-86e7-4cdd-9b79-02bfa769a273.jpg</string>
						<key>price</key>
						<real>299</real>
						<key>spec_info</key>
						<string>尺码:特体 颜色:桔色</string>
						<key>store_id</key>
						<integer>1</integer>
						<key>store_name</key>
						<string>平台自营店</string>
						<key>store_price</key>
						<string>299.00</string>
					</dict>
					<dict>
						<key>bargainMark</key>
						<string>0</string>
						<key>count</key>
						<integer>1</integer>
						<key>declineMark</key>
						<string>0</string>
						<key>goodsMark</key>
						<string>0</string>
						<key>goods_id</key>
						<integer>3</integer>
						<key>goods_name</key>
						<string>秋冬新款男装 冲锋衣羽绒服 中长厚外套</string>
						<key>goods_status</key>
						<integer>0</integer>
						<key>id</key>
						<integer>231020</integer>
						<key>pathName</key>
						<string>upload/store/1/2016/04/06/da8d5bed-5b9d-4fe5-823f-610c4562d956.jpg</string>
						<key>price</key>
						<real>789</real>
						<key>spec_info</key>
						<string>尺码:XL 颜色:透明</string>
						<key>store_id</key>
						<integer>1</integer>
						<key>store_name</key>
						<string>平台自营店</string>
						<key>store_price</key>
						<string>789.00</string>
					</dict>
				</array>
				<key>cut_price</key>
				<integer>20</integer>
				<key>full_price</key>
				<integer>150</integer>
				<key>storeId</key>
				<string>1</string>
				<key>titleinfo</key>
				<string>平台自营店</string>
				<key>whether_close</key>
				<string>0</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<dict>
						<key>bargainMark</key>
						<string>0</string>
						<key>count</key>
						<integer>2</integer>
						<key>declineMark</key>
						<string>0</string>
						<key>goodsMark</key>
						<string>0</string>
						<key>goods_id</key>
						<integer>98481</integer>
						<key>goods_name</key>
						<string>死神手办</string>
						<key>goods_status</key>
						<integer>0</integer>
						<key>id</key>
						<integer>230937</integer>
						<key>pathName</key>
						<string>upload/store/32776/2017/06/30/e483106d-7044-44f9-8fc2-e32b56b30c5a.jpg</string>
						<key>price</key>
						<real>500</real>
						<key>spec_info</key>
						<string>尺码:XXXL 颜色:蓝色</string>
						<key>store_id</key>
						<integer>32776</integer>
						<key>store_name</key>
						<string>test3</string>
						<key>store_price</key>
						<string>500.00</string>
					</dict>
				</array>
				<key>cut_price</key>
				<integer>50</integer>
				<key>full_price</key>
				<integer>500</integer>
				<key>storeId</key>
				<string>32776</string>
				<key>titleinfo</key>
				<string>test3</string>
				<key>whether_close</key>
				<string>0</string>
			</dict>
		</array>
		<key>freightS</key>
		<dict>
			<key>fill_exempt</key>
			<string>15.00</string>
			<key>freight</key>
			<string>3.00</string>
		</dict>
	</dict>
	<key>success</key>
	<true/>
</dict>
</plist>
